<div class="container">

<div class="panel panel-default">
  <div class="panel-heading"><span class="glyphicon glyphicon-info-sign"></span> Config Details</div>
  <div class="panel-body">
    <div class="row">
<div class="col-md-4">
  <div class="panel panel-default">
  <div class="panel-heading">General Config <img src="https://docs.mulesoft.com/anypoint-connector-devkit/v/3.5/_images/icon-gears-blue-big.png" height= "29px"
    width= "30px"/></div>
  <div class="panel-body">
   <!---Form template -->
<form action="/action_page.php">
  <div class="form-group">
    <label for="email">Enter machine Name</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Select Client</label>
    <input type="password" class="form-control" id="pwd">
  </div>
 <div class="radio">
  <label><input type="radio" name="optradio">Linux</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Windows</label>
</div>

</form>

   <!-- End -->
  </div>
</div>



  </div><!--- col1-->
<!--------------### -->
<div class="col-md-4">
 
 <div class="panel panel-default">
  <div class="panel-heading">Application/Webserver Config <img src="https://docs.mulesoft.com/anypoint-connector-devkit/v/3.5/_images/icon-gears-blue-big.png" height= "29px"
    width= "30px"/></div>
  <div class="panel-body">
    Panel content
  </div>
</div>
 
 
 
 
 
  </div>
<!----------------------##################-->
<div class="col-md-4">
  <div class="panel panel-default">
  <div class="panel-heading">Database Config <img src="https://docs.mulesoft.com/anypoint-connector-devkit/v/3.5/_images/icon-gears-blue-big.png" height= "29px"
    width= "30px"/></div>
  <div class="panel-body">
    Panel content
  </div>
</div>


  </div>

  <!-------------########################---->












      </div><!----------- End of row1 -- -->
  </div>
</div>
  </div>